.env
.idea
utils/__pycache__/
vector_database/__pycache__/
__pycache__
cache/
tmp.ipynb
chatbot_FB
SSL/

# VS Code
.vscode/

# Virtual Environment
.venv
venv
env/
*.env

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Log files
*.log
logs/